body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
img {
    width: 150px;
    height: auto;
    animation: spin 2s ease-out, zoom 2s ease-in-out 2s forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(33);
    }
}