body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background: linear-gradient(135deg, #D71920, #F16522);
    */
    background-color: white;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.login-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    background: #D71920;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0; 
}
.login-container button:hover {
    background: #F16522;
}

.login-container input {
width: 90%;
padding: 10px; 
margin: 10px 0; 
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px; 
}



*, *::before, *::after {
box-sizing: border-box;
}

@keyframes rotate {
100% {
transform: rotate(1turn);
}
}

.rainbow {
position: relative;
z-index: 0;

border-radius: 10px;
overflow: hidden;
padding: 2rem;
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;
font-weight: bold;

&::before {
content: '';
position: absolute;
z-index: -2;
left: -50%;
top: -50%;
width: 200%;
height: 200%;
background-color: #D71920;
background-repeat: no-repeat;
background-size: 50% 50%, 50% 50%;
background-position: 0 0, 100% 0, 100% 100%, 0 100%;
background-image: linear-gradient(#D71920, #D71920), linear-gradient(#ef7d01, #ef7d01)
, linear-gradient(#D71920, #D71920), linear-gradient(#ef7d01, #ef7d01);
animation: rotate 4s linear infinite;
}

&::after {
content: '';
position: absolute;
z-index: -1;
left: 6px;
top: 6px;
width: calc(100% - 12px);
height: calc(100% - 12px);
background: white;
border-radius: 5px;
}
}